@font-face {
  font-display: swap;
  font-family: "Afacad";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/afacad-v1-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Afacad";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/afacad-v1-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Afacad";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/afacad-v1-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Afacad";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/afacad-v1-latin-700.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: Afacad;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
